*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
   
    height: 100px;
    border-bottom: 2px solid #ddd;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.admin-content {
    display: flex;
    justify-content: space-between;
}

#admin-left{
    width: 230px;
    margin-right: 0;
    margin-left: 0;
}
.nav .panel-default > a {
    position: relative;
    padding-right: 30px;
}

.nav .panel-default > a::after {
    content: '\25BC';
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.admin-content-right{
    width: 81%;
    padding: 12px;

}
.admin-content-right-cartegoryadd input{
  height: 30px;
  width: 400px;
  padding-left: 12px;
  margin-top: 12px;
}
.admin-content-right-cartegoryadd button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    transition: 0.3s;
}
.admin-content-right-cartegoryadd button:hover{
    background-color: transparent;
    border: 1px solid brown;
    color: brown;
    
}

.admin-content-right-cartegory_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
 }
 .admin-content-right-cartegory_list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
 }
 .admin-content-right-cartegory_list table tr th,td{
    border: 1px solid #ddd;

 }
table{
    border-collapse: collapse;
}

.admin-content-right-product_add input,select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 5px 0;
}
.admin-content-right-product_add textarea{
    height: 200px;
    width: 500px;
    margin-top: 12px;
    padding: 12px;
}
#imagePreview {
    position: absolute;
    right: 63%;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
  }
.container .row label{
    font-family: sans-serif
}
  
