*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
}
header:hover{
    background: rgba(255, 255, 255, 1);
}
.header.sticky{
    background: rgba(255, 255, 255, 1);
}
.logo{
    flex: 1;
}
.logo img{
    width: 300px;
    height: 70px;
}
.menu{
    flex: 3;
    display: flex;
}
.menu >li{
    padding: 0 12px;
    
    
}
.row{
    display: flex;
}
.menu li a{
    font-size: 20px;
    font-weight: bold!important;
    display: block;
    line-height: 27px;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.others{
    flex: 1;
    display: flex;
}
.others >li{
    padding: 0 12px;
}
.others >li:first-child{
    position: relative;
}
.others >li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
 
}
.others >li:first-child i{
    position: absolute;
    right: 10px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.3s;
    z-index: 1;
    background: #fff;
}
.sub-menu ul a{
    font-weight: normal!important;
    font-size: 12px;
}
.sub-menu ul li a:hover{
    background-color: red;
}
.menu >li:hover .sub-menu{
    visibility: visible;
    top: 70px;
}
#silde{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
    
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 12px;
  }
  .dot.active{
    background-color: #333;
  }
  /*--------app--------*/
  .app-container{
    text-align: center;
    align-items: center;
    padding: 100px 0 50px 0;

  } 
  .app-google{
    margin: 50px;
  }   
  .app-google img{
    height: 150px;
  }
  .app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
  }
  .app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
  }
  /*--------footer-------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;

}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin-right: 12px;
    color: #333;
}
.footer-conter{
    text-align: center;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;

}
.cartegory{
    padding: 150px 0 0;
}
.cartegory-top{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
.cartegory-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}


.cartegory-right{
    
    width: 80%;
}
.cartegory-right-top-item:first-child{
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
    
}
.cartegory-right-top-item select{
    width: 25%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cartegory-right-content{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  
}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 15px 0;
}
.cartegory-right-content-item h1{
    font-size: 15px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.cartegory-right-content-item img{
    width: 50%;
}


.cartegory-right-content2{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  
}
.cartegory-right-content2-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 15px 0;
}
.cartegory-right-content2-item h1{
    font-size: 15px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.cartegory-right-content2-item img{
    width: 50%;
}
/*--------------------product--------------*/
.product{
    padding: 100px 0;

}
.product-top {
    margin-bottom: 30px;

}
.product-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;

}
.product-content-left {
    width: 50%;
}

.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img {
    width: 100%;
}
.product-content-left-small-img {
    width: 20%;
}
.product-content-left-small-img img {
    width: 100%;
}
.product-content-right {
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1 {
    font-family: var(--main-text-font);
    font-size: 16px;

}
.product-content-right-product-name p {
    color: #ccc;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.product-content-right-product-color-img {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}

.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0px 12px;
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #fff;

}
.product-content-right-product-button button:last-child{
    border: 2px solid #BF8A49;
    color: #BF8A49;
    background-color: #fff;
    cursor: pointer;
}
.product-content-right-product-icon{
    display: flex;
}
.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i{
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-product-QR {
    margin: 20px 0;
}
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #ddd;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -20%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}
.product-content-right-bottom-content-title {
    border-bottom: 2px solid #ddd;

}
.product-content-right-bottom-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;

}
.product-content-right-bottom-content{
    padding-top: 30px;

}

.product-content-right-bottom-content p{
font-family: var(--main-text-font);
font-size: 12px;

}
.mota{
    margin-top: 30px;
}
.mota h3{
    margin-bottom: 10px;
}
/* product-relate------*/
.product-relate{
    margin-bottom: 50px;

}
.product-relate-title{
    margin: 20px 0px;
}
.product-relate-title p{
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 14px;
    color: #333;

}
.product-relate-item{
    width: calc((100% - 60px)/5);
    text-align: center;
    margin: 0 6px;
    
}
.product-relate-item img{
    width: 100%;
}
/*-------cart--------*/
.cart {
    padding: 170px 0;
}


.cart-content-left {
    flex: 2;
    padding-right: 12px;

}
.cart-content-left table {
 width: 100%;
 text-align: center;
}
.cart-content-left table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}
.cart-content-left table p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
}
.cart-content-left table input{
    width: 30px;

}
.cart-content-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid #ddd;
}
.cart-content-left td:first-child img{
    width: 150px;
    height: 200px;
}
.cart-content-left td:nth-child(2){
    max-width: 130px;

}
.cart-content-left td:nth-child(3) img{
    width: 30px;
    height: 30px;
    
}
.cart-content-right {
    flex: 0.9;
    padding-left: 12px;
    border-left: 2px solid #ddd;

}
.cart-content-right table th{
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}

.cart-content-right table td{
    
    font-family: var(--main-text-font);
    font-size: 20px;
    color: #333;
    padding: 6px 0;
    
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #ddd;
}
.cart-content-right tr td:last-child {
    text-align: right;
    
}
.cart-content-right-text {
    margin: 20px 0;
    text-align: center;

}
.cart-content-right-text p{
    font-family: var(--main-text-font);
    font-size: 20px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button button:first-child{
    background-color:  #fff;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #ddd;
}
.cart-content-right-button button:last-child {
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}
.cart-content-right-button button:last-child:hover{
    background-color: #ddd;
    color: black;
}
.cart-content-right-dangnhap{
    margin-top: 20px;

}
.cart-content-right-dangnhap p{
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
 
    font-weight: bold;
}
.cart-content-right-button button a{
    color: white;
}
/*--------------------------------DELIVERY-----------------------*/
.delivery{
    padding: 200px 0;
    margin-left: 20px;
}
.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}
.delivery-content-left p{
    font-family: var(--main-text-font);
    font-size: 12px;
    
}
.delivery-content-left> p{
    font-weight: bold;
}
.delivery-content-left label{
    font-family: var(--main-text-font);
    font-size: 12px;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left-dangnhap{
    margin-top: 12px;

}
.delivery-content-left-dangnhap i{
    font-size: 12px;
    margin-right: 12px;
}
.delivery-content-left-khachle{
    margin: 12px 0;

}
.delivery-content-left-khachle input{
    margin-right: 11px;
}
.delivery-content-left-dangky{
    margin-bottom: 30px;
}
.delivery-content-left-dangky input{
    margin-right: 12px;
}
.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(100% - 10px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 6px;
}
.delivery-content-left-button p {
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
}
.delivery-content-left-button span {
    margin-right: 12px;

}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button{
    height: 32px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    float: right;
    transition: 0.3s ease;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: #fff;
}
.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #ddd;
    height: auto;
}
.delivery-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #ddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td {
    padding: 6px 0;

}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #ddd;
}
.delivery-content-right table td:last-child {
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}
img{
	width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background: radial-gradient(#653d84, #332042);
    position: relative;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.login_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;
  
}
.login_box .right{
  width: 59%;
  height: 100%  
}
.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}
.left h3{
  text-align: center;
  margin-bottom: 40px;
}
.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}
.left{
	background: linear-gradient(-45deg, #dcd7e0, #fff);
}
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #583672;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

#audio-ele{
    display: none;
}

/* .right {
	background: linear-gradient(212.38deg, rgba(243, 242, 242, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%),url(image/99-anh-boc-dau-xe-dap-6.jpg);
	position: relative;
}

.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
}
.right-text h2{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.right-text h5{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 400;

} */

.right .bot-inductor{
    font-size: 30px;
font-weight: 700;
    position: absolute;
    background: #fff0;
    bottom:30px;
    left: 70%;
    transform: translate(-50%, 0%);
  }

.right .right-inductor{
  position: absolute;
  background: #fff0;
  top:50px;
  left: 70%;
  transform: translate(-50%, 0%);
}
.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}
#myVideo::-webkit-media-controls {
    display:none !important;
}

#myVideo::-webkit-media-controls-play-button,
#myVideo::-webkit-media-controls-start-playback-button {
    display: none !important;
}

#myVideo::-webkit-media-controls-current-time-display,
#myVideo::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

#myVideo::-webkit-media-controls-mute-button,
#myVideo::-webkit-media-controls-volume-slider {
    display: none !important;
}

#myVideo::-webkit-media-controls-timeline,
#myVideo::-webkit-media-controls-fullscreen-button {
    display: none !important;
}




